* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #eff0f4;
}
.container {
    position: relative;
    left: -80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.drop {
    position: relative;
    width: 350px;
    height: 350px;
    box-shadow: inset 20px 20px 20px rgba(0,0,0,0.05),
                25px 35px 20px rgba(0,0,0,0.05),
                25px 30px 30px rgba(0,0,0,0.05),
                inset -20px -20px 25px rgba(255,255,255,0.9);
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 52% 48% 33% 67% / 38% 45% 55% 62%;
}
.drop:hover {
    border-radius: 50%;
}
.drop::before {
    content: '';
    position: absolute;
    top: 50px;
    left: 85px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #fff;
    opacity: 0.9;
}
.drop::after {
    content: '';
    position: absolute;
    top: 90px;
    left: 110px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #fff;
    opacity: 0.9;
}
.drop .content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 40px;
    gap: 15px;
}
.drop .content h2 {
    position: relative;
    color: #333;
    font-size: 1.5em;   
}
.drop .content form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.btns {
    position: absolute;
    right: -120px;
    bottom: 0;
    width: 120px;
    height: 120px;
    background: #c61dff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    line-height: 1.2em;
    letter-spacing: 0.1em;
    font-size: 0.8em;
    transition: 0.25s;
    text-align: center;
    box-shadow: inset 10px 10px 10px rgba(190,1,254,0.05),
                15px 25px 10px rgba(190,1,254,0.1),
                15px 20px 20px rgba(190,1,254,0.1),
                inset -10px -10px 15px rgba(255,255,255,0.5);
    border-radius: 44% 56% 65% 35% / 57% 58% 42% 43%;
}
.btns::before {
    content: '';
    position: absolute;
    top: 15px;
    left: 30px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    opacity: 0.45;
}
.btns.back {
    bottom: 150px;
    right: -120px;
    width: 80px;
    height: 80px;
    border-radius: 49% 51% 52% 48% / 63% 59% 41% 37%;
    background: #01b4ff;
    box-shadow: inset 10px 10px 10px rgba(1,180,255,0.05),
                15px 25px 10px rgba(1,180,255,0.1),
                15px 20px 20px rgba(1,180,255,0.1),
                inset -10px -10px 15px rgba(255,255,255,0.5);
}
.btns.back::before {
    left: 20px;
    width: 15px;
    height: 15px;
}
.btns:hover {
    border-radius: 50%;
}
.btns.filelist {
    left: -120px;
    background: #01b4ff;
    box-shadow: inset 10px 10px 10px rgba(1,180,255,0.05),
                15px 25px 10px rgba(1,180,255,0.1),
                15px 20px 20px rgba(1,180,255,0.1),
                inset -10px -10px 15px rgba(255,255,255,0.5);
    border-radius: 56% 44% 47% 53% / 65% 45% 55% 35%;
}

.btns.filelist::before {
    background: #fff;
}
.btns.filelist:hover {
    border-radius: 50%;
}

