<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>网盘登录</title>
    <link rel="stylesheet" type="text/css" href="css/login.css">
</head>
<body>
<div class="container">
    <div class="drop">
        <div class="content">
            <h2>Sign in</h2>
            <form action="login" method="post">
                <div class="inputBox">
                    <label for="userId"></label><input type="text" id="userId" name="username" placeholder="输入用户名" /><br>
                </div>
                <div class="inputBox">
                    <label for="pwdId"></label><input type="password" id="pwdId" name="password" placeholder="输入密码" /><br>
                </div>
                <div class="inputBox">
                    <input type="submit" value="Login">
                </div>
            </form>
        </div>
    </div>
    <a href="#" class="btns">Forget Password</a>
    <a href="register" class="btns signup">Signup</a>
</div>
</body>
</html>

