<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dynamic Water Drop Registration Page</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/register.css">
</head>
<body>
<div class="container">
    <div class="drop">
        <div class="content">
            <h2>Register</h2>
            <form action="register" method="post">
                <div class="inputBox">
                    <label>
                        <input type="text" name="username" required="required" placeholder="输入用户名">
                    </label>
                </div>
                <div class="inputBox">
                    <label>
                        <input type="email" name="email" required="required" placeholder="输入email">
                    </label>
                </div>
                <div class="inputBox">
                    <label>
                        <input type="password" name="password1" required="required" placeholder="输入密码">
                    </label>
                </div>
                <div class="inputBox">
                    <label>
                        <input type="password" name="password2" required="required" placeholder="确认密码">
                    </label>
                </div>
                <div class="inputBox">
                    <input type="submit" value="Submit">
                </div>
            </form>
        </div>
    </div>
    <a href="index" class="btns login">Login</a>
    <a href="register" class="btns signup">Signup</a>
</div>
</body>
</html>