<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dynamic Water Drop Registration Page</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/loginSuccess.css">
</head>
<body>
<div class="container">
    <div class="drop">
        <div class="content">
            <h2>注册成功</h2>
        </div>
    </div>
    <a href="index" class="btns back">去登录</a>
</div>
</body>
</html>
